# =====================================
# Ignore everything
# =====================================
*

# =====================================
# Allow root project files
# =====================================
!README.md
!LICENSE
!.gitignore
!image2pdf.c

# =====================================
# Allow version archive
# =====================================
!old_versions/
!old_versions/*.c