# Ignore everything by default
*

# Allow root files
!README.md
!.gitignore
!LICENSE

# Allow main folders
!C/
!Python/
!Web-App/

# Allow GitHub Actions workflows
!.github/
!.github/workflows/
!.github/workflows/*.yml

# Allow everything inside Web-App
!Web-App/**

# Allow only C source and markdown files
!C/**/*.c
!C/**/*.md

# Allow only Python files and markdown files
!Python/**/*.py
!Python/**/*.md